/*
 Copyright 2010 Mark Watkinson
 
 This file is part of Luminous.
 
 Luminous is free software: you can redistribute it and/or
 modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Luminous is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Luminous.  If not, see <http://www.gnu.org/licenses/>.
 
 */







/*******************************************************************************
 * FONTS.
 * 
 * We override the fonts because the line numbering relies on a consistent
 * line-height. Unfortunately, some fonts, when italicised, gain a pixel or two
 * and this results in a drift which pushes the line numbers and lines out of
 * sync.
 */ 

/* IE fonts */

@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMono.eot');  
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoIt.eot');  
  font-weight: normal;
  font-style: italic;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBd.eot');  
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBI.eot');  
  font-weight: bold;
  font-style: italic;
}
/* Others */

@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMono.ttf');  
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoIt.ttf');  
  font-weight: normal;
  font-style: italic;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBd.ttf');  
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBI.ttf');  
  font-weight: bold;
  font-style: italic;
}






.luminous_inline, .luminous_inline div, .luminous_inline pre {
  display:inline-block;
  *display: inline; /* IE6 hack. */
}



.luminous .link, .link:visited
{
  text-decoration:underline !important;
}
.luminous .link:hover
{
  text-decoration:none !important;
}

.luminous pre, .luminous .code_container
{
  font-size:inherit !important;
  font-family:inherit !important;
  width:auto !important;
}

.luminous table.code_container
{
/*   overflow:hidden !important; */
  max-height: 100%;
}

.luminous pre
{
/*   overflow:hidden !important; */
  max-height:100% !important;
}

div.code_container
{
  overflow:auto;
  max-width:100% !important;
  /* Necessary for IE 7 */
  position:relative !important;
}


div.luminous 
{
  position:relative !important;
  font-size:inherit; 
  text-align:left !important;
  min-width:100% !important;
  max-width:100% !important; 
 /* line-height: 120% !important; /*normal !important; */
}
div.luminous_inline {
  min-width: 1px !important;
  max-width: none !important;
  line-height: normal !important;
}




/* IE < 8 needs it like this */
div.luminous, .luminous .line, .luminous pre
{
  font-family:  "DejaVu Sans Mono", "Bitstream Vera Sans Mono",  VeraMono, 
    "Andale Mono", "Lucida Sans Typewriter",  "FreeMono",  
    "Liberation Mono",  "Consolas","Lucida Console", monospace !important;
  
  font-size:inherit; 
  
}

.luminous .line
{

  padding:0px;
  border:0px;
  margin:0px;
  padding-left:1em;
  
  display:block;

}

.luminous pre.code, .luminous pre.line_numbers 
{
  font-size:inherit !important;
  font-family:inherit !important;
  
  margin:0px !important;
  position:relative;
  padding:0px !important;
  background:none !important;
/*   overflow:hidden !important; */
}


div.luminous table.code_container span.line_number
{
  margin:0px !important;
  text-align:center !important;
}

div.luminous table.code_container .line_number_emphasised
{
 font-weight:bold;
}

a.line_number:hover
{
  text-decoration:underline;
}

/* The table related rules only apply to the line numbered widget. */
div.luminous table.code_container td.line_number_bar
{
  padding:0px !important;
  vertical-align:top !important;
  border-left:0px !important;
  border-top:0px !important;
  border-bottom:0px !important;
  text-align:right !important;
}

div.luminous table.code_container td.code
{
  padding:0px !important;
  border:0px !important;
  vertical-align:top !important;
/*   padding-left:1em !important; */
  width:100% !important;
}

div.luminous table.code_container
{
  border: 0px !important;
  /* Causes IE Bug    */
/*   height:100% !important;  */
  width:100% !important;
  padding:0px !important;
  border-collapse:collapse !important;
  margin:0px !important;
  
}

/* None-line numbered widget */
div.luminous div.code
{
  padding-left:1em !important;
  position:relative !important;
}
div.luminous_inline div.code
{
  padding-left:0em !important;
}



.luminous .metabar
{
  width:100% !important;
  background-color:rgb(202, 202, 202) !important;  
/*   background-color:rgba(202, 202, 202, 0.75); */
  border-bottom: 1px solid black !important;
  white-space:normal !important;
  height:20px !important;
  min-height:20px !important;
}
.luminous .metabar_buttons_fixed
{
  position:absolute !important; 
  right:1px !important;
  top:0px !important;

  
}
.luminous .metabar_buttons 
{
  white-space:normal !important;

}

.luminous .metabar_buttons_floating
{
  position: fixed !important; 
  z-index:2 !important;  
  padding-top:2px !important;
  padding-bottom:2px !important;
  min-height:16px !important;
  border-width:1px !important;
  border-style:solid !important;  
  top:0px;
  border-radius:1em; 
  
}



.luminous .metabar_buttons a, 
.luminous .metabar_buttons a:link,
.luminous .metabar_buttons a:hover,
.luminous .metabar_buttons a:active,
.luminous .metabar_buttons a:visited,
.luminous .luminous_clicker
{
  text-decoration:none !important;  
  padding-left:8px !important;
  padding-right:8px !important;
  font-size:16px !important;
  background-repeat:no-repeat !important;
  background-position:center !important; 
  border: none !important;
}

.luminous_close_search_clicker
{
  background-image:url('../client/img/close.png') !important;
}

.luminous .metabar_buttons a.info
{
  background-image:url('../client/img/info.png') !important;

}
.luminous .metabar_buttons a.print
{
  background-image:url('../client/img/print.png') !important;

}

.luminous .metabar_buttons a.highlight
{
  background-image:url('../client/img/highlight.png') !important;

}
.luminous .metabar_buttons a.unhighlight
{
  background-image:url('../client/img/unhighlight.png') !important;
}

.luminous .metabar_buttons a.zoomout
{
  background-image:url('../client/img/zoom-out.png') !important;
}
.luminous .metabar_buttons a.zoomin
{
  background-image:url('../client/img/zoom-in.png') !important;
}

.luminous .luminous_search_clicker
{
  background-image:url('../client/img/find.png') !important;
}
.luminous .luminous_uncollapse_clicker
{
  background-image:url('../client/img/arrow-down.png') !important;
}
.luminous .luminous_collapse_clicker
{
  background-image:url('../client/img/arrow-up.png') !important;
}

.luminous_info
{
  text-align:center;
  position:absolute; 
  left:0px;
  z-index:1;
  min-width:100%;  
  width:100%;
  display:inline-block;
  margin:0px;

  height:100%; 
  top:0px;
  white-space:normal; 
  display:none;
  overflow:auto;
  
}

.luminous .luminous_search_container
{
  position:fixed;
  white-space:normal;
  z-index:3;
}
.luminous .luminous_search
{
  border: 1px solid black;
}
.luminous .user_highlight
{
  background-color:#00FF00;
}

.luminous pre.plain
{
  margin:0px; 
  padding-left:1em !important;
}

.luminous .line_number_bar a
{
  text-decoration:none;
}

