/*
 Copyright 2010 Mark Watkinson
 
 This file is part of Luminous.
 
 Luminous is free software: you can redistribute it and/or
 modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Luminous is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Luminous.  If not, see <http://www.gnu.org/licenses/>.
 
 */
/*******************************************************************************
 * FONTS.
 * Historically we overrode fonts because some fonts caused problems with
 * line numbering becoming de-synchronised when there were italics on 
 * the line.
 * We have since changed to a pure CSS line numbering solution, but we'll
 * keep the fonts anyway
 */
/* IE fonts */
@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMono.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoIt.eot");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoBd.eot");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoBI.eot");
  font-weight: bold;
  font-style: italic; }

/* Others */
@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMono.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoIt.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoBd.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: VeraMono;
  src: url("../client/font/VeraMoBI.ttf");
  font-weight: bold;
  font-style: italic; }

.luminous {
  position: relative;
  font-size: inherit;
  text-align: left;
  min-width: 100%;
  max-width: 100%;
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
  /* line numbers */ }
  .luminous.luminous_inline {
    min-width: 1px;
    max-width: none;
    line-height: normal; }
    .luminous.luminous_inline, .luminous.luminous_inline div, .luminous.luminous_inline pre {
      *display: inline;
      display: inline-block; }
    .luminous.luminous_inline div.code {
      padding-left: 0; }
  .luminous .link, .luminous .link:visited {
    text-decoration: underline; }
  .luminous .link:hover {
    text-decoration: none; }
  .luminous pre, .luminous .code_container {
    font-size: inherit;
    font-family: inherit;
    width: auto; }
  .luminous pre {
    max-height: 100%;
    margin: 0;
    position: relative;
    padding: 0;
    background: transparent none; }
  .luminous .code_container {
    overflow: auto;
    max-width: 100%; }
  .luminous div.code {
    padding-left: 1em; }
  .luminous .code.numbers {
    counter-reset: term;
    margin-left: 0;
    padding-left: 0; }
    .luminous .code.numbers .line {
      padding: 0 0 0 0.5em;
      border: none;
      margin: 0;
      display: block;
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      -webkit-transition-property: background-color;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-property: background-color;
      -moz-transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-property: background-color;
      -o-transition-duration: 0.5s;
      -o-transition-timing-function: ease-in;
      -ms-transition-property: background-color;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-in; }
      .luminous .code.numbers .line:before {
        counter-increment: term !important;
        content: counter(term) !important;
        padding: 0 !important;
        margin-right: 0.5em;
        display: inline-block;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none; }
      .luminous .code.numbers .line:nth-child(5n):before {
        font-weight: bold; }
    .luminous .code.numbers .line-no-width-2 .line:before {
      width: 2em !important; }
    .luminous .code.numbers .line-no-width-3 .line:before {
      width: 3em !important; }
    .luminous .code.numbers .line-no-width-4 .line:before {
      width: 4em !important; }
    .luminous .code.numbers .line-no-width-5 .line:before {
      width: 5em !important; }
    .luminous .code.numbers .line-no-width-6 .line:before {
      width: 6em !important; }
  .luminous div {
    border-radius: inherit; }
