/*
 Copyright 2010 Mark Watkinson
 
 This file is part of Luminous.
 
 Luminous is free software: you can redistribute it and/or
 modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Luminous is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Luminous.  If not, see <http://www.gnu.org/licenses/>.
 
 */
.luminous {
  font-size: inherit;
  text-align: left;
  font-family: "Consolas", "DejaVu Sans Mono", monospace;
  border: 2px solid #ddd;
  border-radius: 5px;
  position: relative;
  /* line numbers */ }
  .luminous.inline {
    min-width: 1px;
    max-width: none;
    line-height: normal; }
    .luminous.inline, .luminous.inline div, .luminous.inline pre {
      padding: 0;
      *display: inline;
      display: inline-block; }
    .luminous.inline pre {
      overflow: visible; }
  .luminous .link, .luminous .link:visited {
    text-decoration: underline; }
  .luminous .link:hover {
    text-decoration: none; }
  .luminous pre {
    margin: 0;
    padding: 0;
    background: transparent none;
    font-size: inherit;
    font-family: inherit;
    width: auto; }
  .luminous > pre {
    padding-left: 1em; }
  .luminous table {
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0; }
    .luminous table td {
      padding: 0;
      margin: 0;
      vertical-align: top; }
      .luminous table td.code-container {
        width: 100%; }
    .luminous table .code > span {
      padding: 0 0 0 1em;
      display: block;
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      -webkit-transition-property: background-color;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-property: background-color;
      -moz-transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-property: background-color;
      -o-transition-duration: 0.5s;
      -o-transition-timing-function: ease-in;
      -ms-transition-property: background-color;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-in; }
    .luminous table .line-numbers {
      cursor: default;
      text-align: center;
      max-width: 60px;
      transition-property: max-width;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      -webkit-transition-property: max-width;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-property: max-width;
      -moz-transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-property: max-width;
      -o-transition-duration: 0.5s;
      -o-transition-timing-function: ease-in;
      -ms-transition-property: max-width;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-in; }
      .luminous table .line-numbers span {
        padding: 0 0.5em;
        display: block; }
        .luminous table .line-numbers span:nth-child(5n) {
          font-weight: bold; }
      .luminous table .line-numbers.collapsed {
        border: none;
        max-width: 0;
        overflow: hidden; }
  .luminous div {
    border-radius: inherit; }
  .luminous .line-number-control {
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition-property: left;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: left;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: left;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: left;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-in;
    height: 26px;
    width: 18px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background: transparent url(icons/chevron-left.png); }
    .luminous .line-number-control.show-line-numbers {
      background: transparent url(icons/chevron-right.png); }
