/*
 Copyright 2010 Mark Watkinson
 
 This file is part of Luminous.
 
 Luminous is free software: you can redistribute it and/or
 modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Luminous is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Luminous.  If not, see <http://www.gnu.org/licenses/>.
 
 */
.luminous {
  font-size: inherit;
  text-align: left;
  font-family: "Consolas", monospace;
  /* line numbers */ }
  .luminous.inline {
    min-width: 1px;
    max-width: none;
    line-height: normal; }
    .luminous.inline, .luminous.inline div, .luminous.inline pre {
      padding: 0;
      *display: inline;
      display: inline-block; }
  .luminous .link, .luminous .link:visited {
    text-decoration: underline; }
  .luminous .link:hover {
    text-decoration: none; }
  .luminous pre {
    margin: 0;
    padding: 0 0 0 1em;
    background: transparent none;
    font-size: inherit;
    font-family: inherit;
    width: auto; }
  .luminous .numbers {
    counter-reset: term;
    margin-left: 0;
    padding-left: 0; }
    .luminous .numbers .line {
      padding: 0;
      border: none;
      margin: 0;
      display: block;
      position: relative;
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      -webkit-transition-property: background-color;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-property: background-color;
      -moz-transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-property: background-color;
      -o-transition-duration: 0.5s;
      -o-transition-timing-function: ease-in;
      -ms-transition-property: background-color;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-in; }
      .luminous .numbers .line:before {
        counter-increment: term !important;
        content: counter(term) !important;
        padding: 0 !important;
        margin-right: 0.5em;
        display: inline-block;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        width: 1em;
        position: absolute;
        height: 100%;
        left: 0; }
      .luminous .numbers .line:after {
        content: " "; }
      .luminous .numbers .line:nth-child(5n):before {
        font-weight: bold; }
    .luminous .numbers.line-no-width-2 .line {
      padding-left: 3em; }
    .luminous .numbers.line-no-width-3 .line {
      padding-left: 4em; }
    .luminous .numbers.line-no-width-4 .line {
      padding-left: 5em; }
    .luminous .numbers.line-no-width-5 .line {
      padding-left: 6em; }
    .luminous .numbers.line-no-width-6 .line {
      padding-left: 7em; }
    .luminous .numbers.line-no-width-2 .line:before {
      width: 2em !important; }
    .luminous .numbers.line-no-width-3 .line:before {
      width: 3em !important; }
    .luminous .numbers.line-no-width-4 .line:before {
      width: 4em !important; }
    .luminous .numbers.line-no-width-5 .line:before {
      width: 5em !important; }
    .luminous .numbers.line-no-width-6 .line:before {
      width: 6em !important; }
  .luminous div {
    border-radius: inherit; }
